### importing required modules

In [236]:
#import numpy as np
import pandas as pd

### importing species dataset

In [237]:
df = pd.read_excel (r'Species.xlsx')
#print (df)

### finding endangered species from the species dataset and acquiring their details

In [238]:
endangered=[]
for index,row in df.iterrows():
    if(row['isEndangered']==1):
        endangered.append(row)
# print(endangered)
# for i in endangered:
#     print('-'*10)
#     print(i)

### taking a random species for now

In [239]:
name=endangered[0]
name

Species               Asiatic Lion
Count                          356
isEndangered                     1
Birth Factor                     4
Time to Breed(yrs)               2
Breed Age Limit                 15
Maturity Age                    10
Life Expectancy                 20
Threshold                      700
Name: 0, dtype: object

In [240]:
sp=pd.read_excel(name['Species']+'.xlsx')
sp

,Location,Male Count,Female Count,Female Age Array
0,Jim Corbett National Park,51,30,"20, 14, 11, 17, 11, 11, 16, 12, 20, 12, 20, 19..."
1,Ranthambor National Park,60,40,"19, 20, 12, 20, 20, 19, 12, 14, 18, 10, 15, 11..."
2,Nagarhole National Park,30,25,"11, 13, 13, 12, 15, 16, 11, 19, 14, 17, 12, 20..."
3,Kaziranga National Park,70,50,"12, 18, 14, 19, 17, 19, 19, 12, 16, 12, 10, 11..."
4,TOTAL,211,145,356

In [241]:
def checkFemaleAge(age):
    if(age<int(name['Breed Age Limit'])):
        return True
    else:
        return False

In [242]:
def checkChildAge():
    global female
    global children
    mAge=int(name['Maturity Age'])
    tempChildren=[]
    for i in range(len(children)):
        x=children[i]
        if(x>=mAge):
            females.append(x)
        else:
            tempChildren.append(x)
    children=tempChildren

In [243]:
def checkFemaleLife():
    global females
    mAge=int(name['Life Expectancy'])
    tempFemales=[]
    for i in range(len(females)):
        x=females[i]
        if(x<mAge):
            tempFemales.append(x)
    females=tempFemales

In [244]:
def breed():
    global children
    children+=[0]*(len(females)*int(name['Birth Factor']))

In [245]:
def ageInc(age):
    age+=int(name['Time to Breed(yrs)'])
    return age

In [246]:
females=[]
children=[]
timeTaken=0

#### filtering females fit for breeding

##### Step 1

In [247]:
l=len(sp.index)
for index,row in sp.iterrows():
    if(index<l-1):
        temp=filter(checkFemaleAge,list(map(int,row['Female Age Array'].split(','))))
        females+=temp
# print(females)

##### Step 2

In [250]:
breed()

##### Step 3

In [253]:
females=list(map(ageInc,females))
children=list(map(ageInc,children))

In [254]:
timeTaken+=int(name['Time to Breed(yrs)'])

##### Step 4

In [259]:
checkFemaleLife()

##### Step 5

In [ ]:
checkChildAge()

##### Step 6

In [235]:
maleCount=sp['Male Count'].iloc[-1]
femaleCount=len(females)

211

In [ ]:
if((maleCount+femaleCount)>=threshold):
    print('Species saved after',timeTaken,'years')

In [260]:
print(females)

[16, 13, 13, 13, 14, 14, 14, 15, 14, 14, 12, 14, 15, 13, 14, 14, 14, 16, 12, 13, 12, 13, 14, 16, 12, 12, 14, 13, 13, 14, 16, 16, 13, 16, 12, 13, 15, 15, 14, 13, 16, 14, 16, 15, 14, 16, 15, 15, 14, 16, 14, 14, 12, 13, 14, 15, 15, 15, 12, 16, 14, 14, 12, 12, 14, 16, 15, 16, 13]

In [256]:
print(children)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [ ]:
checkFemaleAge()

In [186]:
children.append(25)