### importing required modules

In [34]:
#import numpy as np
import pandas as pd

### importing species dataset

In [35]:
df = pd.read_excel (r'Species.xlsx')
#print (df)

### finding endangered species from the species dataset and acquiring their details

In [47]:
endangered=[]
for index,row in df.iterrows():
    if(row['isEndangered']==1):
        endangered.append(row)
# print(endangered)
# for i in endangered:
#     print('-'*10)
#     print(i)

### taking a random species for now

In [85]:
name=endangered[0]
name

Species               Asiatic Lion
Count                          356
isEndangered                     1
Birth Factor                     4
Time to Breed(yrs)               2
Breed Age Limit                 15
Name: 0, dtype: object

In [82]:
sp=pd.read_excel(name['Species']+'.xlsx')
sp

,Location,Male Count,Female Count,Female Age Array
0,Jim Corbett National Park,51,30,"20, 14, 11, 17, 11, 11, 16, 12, 20, 12, 20, 19..."
1,Ranthambor National Park,60,40,"19, 20, 12, 20, 20, 19, 12, 14, 18, 10, 15, 11..."
2,Nagarhole National Park,30,25,"11, 13, 13, 12, 15, 16, 11, 19, 14, 17, 12, 20..."
3,Kaziranga National Park,70,50,"12, 18, 14, 19, 17, 19, 19, 12, 16, 12, 10, 11..."
4,TOTAL,211,145,356

In [91]:
def checkFemaleAge(age):
    if(age<int(name['Breed Age Limit'])):
        return True
    else:
        return False

In [ ]:
def checkChildAge(age):
    if(age>=)

In [100]:
females=[]
children=[]
timeTaken=0

#### filtering females fit for breeding

In [101]:
l=len(sp.index)
for index,row in sp.iterrows():
    if(index<l-1):
        temp=filter(checkFemaleAge,list(map(int,row['Female Age Array'].split(','))))
        females+=temp
# print(females)

In [102]:
children+=[0]*(len(females)+int(name['Birth Factor']))

In [103]:
timeTaken+=int(name['Time to Breed(yrs)'])